<!-- Preload -->
<div id="loading" *ngIf="loading">
  <div class="load-circle"><span class="one"></span></div>
</div>
<!-- End Preload -->
<!-- Header -->
<header class="header-nav header-white" *ngIf="showHeader">
  <div class="fixed-header-bar">
    <div class="container container-large">
      <div class="navbar navbar-default navbar-expand-lg main-navbar">
        <div class="navbar-brand">
          <a title="Mombo" class="logo">
            <img src="assets/img/logo-white.png" class="light-logo" alt="Mombo" title="" height="48" />
            <img src="assets/img/logo-black.png" class="dark-logo" alt="Mombo" title="" height="48" />
          </a>
        </div>
        <div class="navbar-collapse justify-content-end collapse" id="navbar-collapse-toggle">
          <ul class="nav navbar-nav m-auto">
            <li><a class="nav-link" href="#services">Services</a></li>
            <li><a class="nav-link" href="#process">Process</a></li>
            <li><a class="nav-link" href="#tech-stack">Tech Stack</a></li>
            <li><a class="nav-link" href="#team">Team</a></li>
            <li><a class="nav-link" href="#contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="extra-menu d-flex align-items-center">
          <button
            type="button"
            class="navbar-toggler collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse-toggle"
            aria-expanded="false"
          >
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->

<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer-->
<footer class="dark-bg footer">
  <div class="footer-bottom footer-border-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <ul class="nav justify-content-center justify-content-md-start m-5px-tb links-white font-small footer-link-1">
            <li>
              <a routerLink="/policy">Privace &amp; Policy</a>
            </li>
            <li>
              <a routerLink="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <p class="m-0px font-small white-color-light">© {{ currentYear }} Code Matter Studio</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
