/* You can add global styles to this file, and also import other style files */

.height100 {
  height: 100% !important;
}

.toast-top-center {
  margin-top: 80px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
